body {
    background-color: #e7ecef;
}
.logo-left {
    float: left;
    margin-left: 10px;
}
.logo-right {
    float: right;
    margin-right: 10px;
}

.home-content {
    width: 100%;
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

ul.main-menu {
    position: relative;
    z-index: 999;
    background-color: #aabdc0;
    width: 100%;
    height: 55px;
    list-style: none;
    margin: 0;
}
ul.main-menu, ul.main-menu ul {
    display: block;
    text-decoration: none;
    padding: 0;
}
ul.main-menu > li {
    display: block;
    float: left;
    text-decoration: none;
    height: 55px;
    overflow: hidden;
    text-align: center;
    background-color: #aabdc0;
    list-style: none;
}
ul.main-menu > li:nth-child(1) {
    width: 5%;
    border-right: 1px solid #CCCCCC;
}
ul.main-menu > li:nth-child(2) {
    width: 18%;
    border-right: 1px solid #CCCCCC;
}
ul.main-menu > li:nth-child(3) {
    width: 12%;
    border-right: 1px solid #CCCCCC;
}
ul.main-menu > li:nth-child(4) {
    width: 15%;
    border-right: 1px solid #CCCCCC;
}
ul.main-menu > li:nth-child(5) {
    width: 12%;
    border-right: 1px solid #CCCCCC;
}
ul.main-menu > li:nth-child(6) {
    width: 30%;
    border-right: 1px solid #CCCCCC;
}
ul.main-menu > li:nth-child(7) {
    width: 8%;
}
ul.main-menu > li > a, ul.main-menu > li > span {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
}
ul.main-menu > li:hover {
    background-color: grey;
    background-image: url("/resources/img/bt-bg1over.png");
    text-decoration: none;
    overflow: visible;
}
ul.main-menu > li > a:hover {
    text-decoration: none;
}
ul.main-menu li.active {
    background-color: grey;
    background-image: url("/resources/img/bt-bg1over.png");
}

ul.main-menu > li:nth-child(2) ul {
    width: 250px;
}
ul.main-menu > li:nth-child(3) ul {
    width: 310px;
}
ul.main-menu ul > li {
    display: block;
    text-decoration: none;
    height: 55px;
    overflow: hidden;
    background-color: #6b7a7d;
    list-style: none;
}
ul.main-menu li.highlight {
    background-image: url("/resources/img/bt-bg2over.png");
    background-repeat: repeat-x;
}
ul.main-menu ul > li > a {
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    line-height: 55px;
    text-align: left;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    text-decoration: none;
}
ul.main-menu ul > li > a:hover {
    background-color: #647275;
}

ul.main-menu > li:last-child {
    padding-right: 15px;
}
ul.main-menu > li:last-child > a {
    display: block;
    float: right;
    width: 30%;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    line-height: 30px;
}
ul.main-menu > li:last-child > a img {
    width: 25px;
    height: 15px;
}
ul.main-menu > li:last-child > a.current img {
    border: 1px solid red;
}
ul.main-menu > li:last-child > a:hover img {
    border: 1px solid white;
}

#btnToggleMenu {
    float: right;
    margin-top: 10px;
    margin-left: 10px;
}

#panMenuBg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 9998;
}
ul.right-menu {
    display: block;
    position: fixed;
    top: 0;
    right: -300px;
    width: 260px;
    height: 100%;
    padding-left:  20px;
    text-decoration: none;
    list-style: none;
    background-color: #e7ecef;
    z-index: 9999;
    overflow-y: auto;
}
ul.right-menu > li > ul {
    padding-left: 20px;
}
ul.right-menu > li {
    list-style: none;
}
ul.right-menu li {
    text-transform: uppercase;
    line-height: 30px;
}
ul.right-menu > li:first-child {
    height: 115px;
    text-align: center;
}

ul.right-menu li:not(:first-child).active > a {
    text-decoration: underline;
    font-weight: bold;
}
ul.right-menu li ul li.active > a {
    text-decoration: underline;
    font-weight: bold;
}


.home-content .carousel .carousel-inner .item img {
    width: 100%;
}

.footer {
    width: 100%;
    margin-bottom: 10px;
}
.footer .bg-footer {
    width: 100%;
    margin: auto;
}

.text-copy-right {
    text-align: left;
    color: #aaaaaa;
}
.text-design {
    text-align: right;
    color: #aaaaaa;
}
.text-design a {
    color: #17a9dc;
}

.sub-header {
    width: 100%;
    background-color: #dbe4e4;
}
.sub-header > .container {
    position: relative;
}
.sub-header img {
    width: 100%;
    border-bottom: 5px solid #9bb0b3;
}
.sub-header-shadow {
    background-image: url("../img/headertitle-content--shadow.jpg");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: 100%;
    height: 23px;
}
.sub-header .sub-header-text {
    position: absolute;
    top: 25px;
    left: 30px;
    font-size: 36px;
    text-transform: uppercase;
    color: #17a9dc;;
}

.rainbow-cambodia-img {
    width: 98%;
    float: right;
    margin-top: 50px;
}

.full-time-img {
    width: 98%;
    float: right;
}

.main-content {
    background-color: white;
    padding: 15px 10px 50px 10px;
    margin-bottom: 20px;
}

/* our product */
.product-text {
    background-image: url("/resources/img/bg-content.jpg");
    background-position: left top;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
.product-img {
    position: relative;
}
.product-img img {
    width: 100%;
    margin-top: -80px;
}
.line-number {
    float: left;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 11px;
    color: #ffffff;
    background-image: url("/resources/img/icn-bullet.png");
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
.line-content {
    margin: 0 0 0 25px;
}
.line-content h5, .text-product {
    color: #19b4e8;
}
.line-content h5 {
    padding: 4px 0 5px 0;
    margin: 0;
}
.line-content p {
    font-size: 11px;
}

label.required:after {
    content: "*";
    color: red;
    font-size: 11px;
    padding-left: 3px;
}
.rainbow-system-text li {
    margin-bottom: 20px;
}

.img-contact {
    margin: auto;
}

#map { width: 100%; height: 500px; }

/***** screen > 992px ******/
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/***** screen < 992px ******/
@media (max-width: 992px) {
    ul.main-menu > li:nth-child(1) {
        width: 55px;
        border-right: 1px solid #CCCCCC;
    }
    ul.main-menu > li:nth-child(7) {
        width: 200px;
        float: right;
    }

    ul.main-menu > li:last-child > a {
        float: right;
        width: 30px;
        height: 25px;
        margin-top: 10px;
        line-height: 30px;
    }

    ul.main-menu > li:hover {
        background-color: #aabdc0;
        background-image: none;
        text-decoration: none;
        overflow: visible;
    }

    .text-copy-right {
        text-align: center;
    }
    .text-design {
        text-align: center;
    }
    .footer .bg-footer {
        margin-top: -10px;
    }

    .sub-header-shadow {
        height: 12px;
    }

    .sub-header .sub-header-text {
        top: 20px;
        left: 40px;
        font-size: 28px;
    }

    .product-img img {
        margin-top: 20px;
    }
}

/***** screen < 768px ******/
@media (max-width: 768px) {
    .sub-header img {
        border-bottom: 3px solid #9bb0b3;
    }
    .sub-header .sub-header-text {
        top: 15px;
        left: 35px;
        font-size: 25px;
    }
    .sub-header-shadow {
        height: 8px;
    }

    .rainbow-cambodia-img {
        float: none;
        margin-top: 0;
    }

    .full-time-img {
        float: none;
    }

    #map { width: 100%; height: 400px; }
}
/***** screen < 400px ******/
@media (max-width: 400px) {
    .sub-header .sub-header-text {
        top: 10px;
        left: 30px;
        font-size: 10px;
    }
}